{% extends 'layouts/box.html' %}

{% block content %}
{% if update_chatroom %}
<h1 class="mb-4">Update Chat Room</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit" >Update</button>    
    <a class="button button-gray ml-1" href="{% url 'chatroom' %}">Cancel</a> 
</form>
{% else %}
<h1 class="mb-4">New Chat Room</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit" >Submit</button> 
    <a class="button button-gray ml-1" href="{% url 'chatroom' %}">Cancel</a>    
</form>
{% endif %}


{% endblock %}