@tailwind base;
@tailwind components;
@tailwind utilities;

/** @type {import('tailwindcss').Config} */
/* module.exports = {
    content: [
        './src/**/*.{html,js}',
        '../templates/**/*.html',
        '../templates/**/*.html',
        '../**/forms.py'
    ],
    theme: {
      extend: {},
    },
    plugins: [],
  };
   */